In [1]:
#Module 5 project - Sentiment analysis of news companies twitter feed -BBC, CNN, CNBC, Bloomberg and FOX

In [2]:
import tweepy           # To consume Twitter's API
import pandas as pd     # To handle data
import numpy as np      # For number computing

# For plotting and visualization:
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# We import our access keys:
from credentials import *    # This will allow us to use the keys as variables

In [4]:
# API's setup:
def twitter_setup():
    """
    Utility function to setup the Twitter's API
    with our access keys provided.
    """
    # Authentication and access using keys:
    auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)

    # Return API with authentication:
    api = tweepy.API(auth)
    return api

In [5]:
# We create an extractor object:
extractor = twitter_setup()

# We create a tweet list as follows:
tweets = extractor.user_timeline(screen_name="@BBCWorld", count=200)
tweets1 = extractor.user_timeline(screen_name="@CNN", count=200)
tweets2 = extractor.user_timeline(screen_name="@CNBC", count=200)
tweets3 = extractor.user_timeline(screen_name="@business", count=200)
tweets4 = extractor.user_timeline(screen_name="@FoxNews", count=200)
#print("Number of tweets extracted: {}.\n".format(len(tweets)))

# We print the most recent 5 tweets:
#print("5 recent tweets:\n")
for tweet in tweets[:5]:
    BBC=(tweet.text)
for tweet1 in tweets1[:5]:
    CNN=(tweet1.text)
for tweet2 in tweets2[:5]:
    CNBC=(tweet2.text)
for tweet3 in tweets3[:5]:
    BLOOM=(tweet3.text)
for tweet4 in tweets4[:5]:
    FOX=(tweet4.text)

In [6]:
data = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['BBCWorld'])
# We display the first 10 elements of the dataframe:
display(data.head(5))

                                            BBCWorld
0  Trump calls impeachment inquiry 'a lynching' h...
1  Turkey Syria offensive: Erdogan threatens to r...
2  Olympic flame or dating ad? Paris 2024 logo di...
3  RT @BBCkatyaadler: When Barnier says no more r...
4  Hesitant hitmen jailed over botched assassinat...

In [7]:
data = pd.DataFrame([BBC], columns =['BBC'])
data.head(15)

                                                 BBC
0  Hesitant hitmen jailed over botched assassinat...

In [8]:
data['CNN'] = CNN
data['CNBC'] =CNBC
data['BLOOM'] = BLOOM
data['FOX']=FOX

In [9]:
data.head(4)

,BBC,CNN,CNBC,BLOOM,FOX
0,Hesitant hitmen jailed over botched assassinat...,Hours before the first federal trial in the op...,"Here's the biggest money mistake people make, ...",RT @bponsot: Democrats will question the top d...,Sgt. Ron Helus was fatally shot when he respon...

In [10]:
from textblob import TextBlob
import re

def clean_tweet(data):
    '''
    Utility function to clean the text in a tweet by removing 
    links and special characters using regex.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", data).split())

def analyze_sentiment(tweet):
    '''
    Utility function to classify the polarity of a tweet
    using textblob.
    '''
    analysis = TextBlob(clean_tweet(data))
    if analysis.sentiment.polarity > 0:
        return 1
    elif analysis.sentiment.polarity == 0:
        return 0
    else:
        return -1